.modal-dialog.cart-modal {
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    height: 100vh;
    width: 425px;
    background-color: var(--base-light);
}

.order-number {
    margin-top: 50px;
    border-bottom: 1px solid var(--base-border-dark);

    input,
    button {
        box-shadow: none !important;
        border: none !important;
        padding: 5px 0;
    }
}